<!DOCTYPE html>

<html lang="cs" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>OntarioMapy</title>
    <link rel="shortcut icon" href="static/imgs/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
          integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
            integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
            crossorigin=""></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    <style>
        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0
        }
        #export {
            position: absolute;
            top: 600px;
            z-index: 10000;
            background: white;
            color: black;
            padding: 6px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 12px;
            text-decoration: none;
        }
        #export {
            top: 370px;
        }
    </style>
</head>

<body>
    <div id="map"></div>
    <script>
        var openLayer;
        var features = "/mapfeatures.json";
        var maptiles = [
        {name: "OpenStreetMap_Mapnik", tile: L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors' })},
        {name: "OpenTopoMap", tile: L.tileLayer("https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png", {attribution: 'Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)' })},
        {name: "Esri_NatGeoWorldMap", tile: L.tileLayer("https://server.arcgisonline.com/ArcGIS/rest/services/NatGeo_World_Map/MapServer/tile/{z}/{y}/{x}", {limZoom: 11, attribution: 'Tiles &copy; Esri &mdash; National Geographic' })},
        {name: "MapTiler", tile: L.tileLayer("https://api.maptiler.com/maps/outdoor/{z}/{x}/{y}.png?key=BzCrc2jUfp7PsqtssatV", {attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>' })},
        ];
        selectedtiles = 2;

        var map = L.map('map').setView([49.699, 15.781], 8); //show ČR
        var drawnItems = L.featureGroup().addTo(map); //map features
        maptiles[selectedtiles].tile.addTo(map);

        var church_icon = L.icon({
            iconUrl: "static/church.png"
            //iconSize: 
            //iconAnchor
            //popupAnchor
        });
        var house_icon = L.icon({
            iconUrl: "static/house.png"
            //iconSize: 
            //iconAnchor
            //popupAnchor
        });
        //L.marker([51.5, -0.09], {icon: greenIcon}).addTo(map);
        
        map.on("zoomend", function(e){ //change tiles to #0 if zoomed over limZoom opion
	        if(map.getZoom() > maptiles[selectedtiles].tile.options.limZoom){
                map.removeLayer(maptiles[selectedtiles].tile);
                maptiles[0].tile.addTo(map);
            }else{
                map.removeLayer(maptiles[0].tile);
                maptiles[selectedtiles].tile.addTo(map);
            }
        });

        //load and show geojson features
        async function fetchData(url) {
            try {
                const response = await fetch(url);
                const data = await response.json();
                return data;
            } catch (err) {
                console.error(err);
            }
        }

        fetchData(features).then((geoJsonData) => {
            const feature = L.geoJSON(geoJsonData, {
                onEachFeature: function (feature, layer) { //assign popup to all features
                    addPopup(layer);
                    drawnItems.addLayer(layer);
                    console.log(layer);
                    if (layer.feature.geometry.type == "Point" && typeof layer.feature.properties.icon != "undefined")
                    {

                        var tmp_icon = L.icon({
                            iconUrl: "static/" + layer.feature.properties.icon
                            //iconSize: 
                            //iconAnchor
                            //popupAnchor
                        });

                        layer.setIcon(tmp_icon);
                    }
                },
            });
            
        });

        //add draw control
        map.addControl(
            new L.Control.Draw({
                edit: {
                    featureGroup: drawnItems,
                    poly: {
                        allowIntersection: false,
                    },
                },
                draw: {
                    polygon: {
                        allowIntersection: false,
                        showArea: true,
                    },
                },
            })
        );

        map.on(L.Draw.Event.CREATED, function(event) {
            let layer = event.layer;
            let feature = (layer.feature = layer.feature || {});
            let type = event.layerType;
            feature.type = feature.type || "Feature";
            let props = (feature.properties = feature.properties || {});
            props.type = type;
            if(type === "circle") {
                props.radius = layer.getRadius();
            }
            drawnItems.addLayer(layer);
            addPopup(layer);
        });

        //append save button to left panel
        document.getElementsByClassName("leaflet-draw-toolbar")[1].insertAdjacentHTML('beforeend', '<a class="leaflet-draw-edit-remove" onclick="save()" style="background-image:none;" href="#" title="Save changes"><img src="static/save.png" width="20px" style="margin:5px;"></a>')

        function addPopup(layer) {
            let popupContent = `
                <form>Nadpis:<br>
                <input type="text" id="input_link""><br>
                
                <label for="input_icn">Choose an icon:</label><br>
                <select name="icon_type" id="input_icon">
                  <option value="house.png">Budova</option>
                  <option value="church.png" selected>Modlitební místečko</option>
                  <option value="">Obyčejný</option>
                </select><br>
                
                Text1:<br><input type="text" id="input_cena"><br>
                Text2:<br><input type="text" id="input_area"><br>
                Text3:<br><input type="text" id="input_image"><br>
                </form>
            `;

            layer.on("popupopen", function(e) {
                setTimeout(function(){
                    openLayer = e.popup._source;
                    if (!openLayer.feature) {
                        openLayer.feature = {
                            properties: {},
                        };
                    }else{ //update text fields
                        document.getElementById("input_link").value = openLayer.feature.properties.link || "";
                        document.getElementById("input_icon").value = openLayer.feature.properties.icon || "";
                        document.getElementById("input_cena").value = openLayer.feature.properties.cena || "";
                        document.getElementById("input_area").value = openLayer.feature.properties.area || "";
                        document.getElementById("input_image").value = openLayer.feature.properties.image || "";
                    }
                }, 200);
            });

            layer.on("popupclose", function(e) {
                openLayer = undefined;
            });
            layer.bindPopup(popupContent).openPopup();
        }

        L.DomEvent.on(document, "keyup", function() { //update properties from fields
            if (openLayer) {
                openLayer.feature.properties.link = document.getElementById("input_link").value;
                openLayer.feature.properties.icon = document.getElementById("input_icon").value;
                openLayer.feature.properties.cena = document.getElementById("input_cena").value;
                openLayer.feature.properties.area = document.getElementById("input_area").value;
                openLayer.feature.properties.image = document.getElementById("input_image").value;
                openLayer.feature.properties.N = 1;
            }
        });

        function download() { //save and download geojson
            var data = JSON.stringify(drawnItems.toGeoJSON());
            console.log(data);
            const a = document.createElement("a");
            const file = new Blob([data], { type: "text/json" });
            a.href = URL.createObjectURL(file);
            a.download = "features.json";
            a.click();
        }
        
        function save() { //save and download geojson
            var data = JSON.stringify(drawnItems.toGeoJSON());
            const XHR = new XMLHttpRequest();
            const FD = new FormData();
            FD.append("data", data);
            
            XHR.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    if(XHR.responseText == "ok"){
                        alert("Uloženo!");
                    }else{
                        alert("Nastal problém, odpověď serveru je: " + XHR.responseText);
                    }
                }
            };

            XHR.addEventListener('error', (event) => {
                alert('Nastal problém při ukládání geojsonu na server, zkuste to později.');
            });

            XHR.open('POST', '/save');
            XHR.send(FD);
        }
    </script>
</body>
</html>
