<!DOCTYPE html>

<html lang="cs" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>OntarioMapy</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
          integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
            integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
            crossorigin=""></script>
    <style>
        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0
        }
    </style>
</head>

<body>
    <div id="map"></div>
    <script>
        var maptiles = [
        {name: "OpenStreetMap_Mapnik", url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", attr: {attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors' }},
        {name: "OpenTopoMap", url: "https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png", attr: {attribution: 'Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)' }},
        {name: "Esri_NatGeoWorldMap", url: "https://server.arcgisonline.com/ArcGIS/rest/services/NatGeo_World_Map/MapServer/tile/{z}/{y}/{x}", attr: {attribution: 'Tiles &copy; Esri &mdash; National Geographic, Esri, DeLorme, NAVTEQ, UNEP-WCMC, USGS, NASA, ESA, METI, NRCAN, GEBCO, NOAA, iPC' }},
        {name: "MapTiler", url: "https://api.maptiler.com/maps/outdoor/{z}/{x}/{y}.png?key=BzCrc2jUfp7PsqtssatV", attr: {attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>' }},
        ];
        selectedtiles = 2;
        //https://www.youtube.com/watch?v=wnsEYm9hF0o

        var map = L.map('map').setView([49.699, 15.781], 8); //show ČR
        L.tileLayer(maptiles[selectedtiles].url, maptiles[selectedtiles].attr).addTo(map);

        //var leafletIcon = L.icon({
        //    iconUrl: 'https://leafletjs.com/examples/custom-icons/leaf-green.png',
        //    shadowUrl: 'https://leafletjs.com/examples/custom-icons/leaf-shadow.png',
        //    iconSize: [10, 10],
        //    iconAnchor: [20, 20],
        //    popupAnchor: [20, 2]
        //});

        var marker01 = L.marker([49.2455289, 17.6650464]).addTo(map);
        //var marker1 = L.marker([49.2455289, 17.6650464]).addTo(map);
        var marker02 = L.marker([49.2037778, 17.6838272]).addTo(map);

        //var circle = L.circle([50, 20], { color: 'red', fillColor: '#f03', fillOpacity: 0.5, radius: 500 }).addTo(map);
        //var polygon = L.polygon([[50, 10], [40, 20], [60, 30], [70, 40]]).addTo(map);

        marker01.bindPopup("<h1>Pasecká klubovna</h1><br>Zde odpradávna sídlí naše středisko, však již od roku asi 2019 zde našemu oddílu zůstala jen kóje")
        //marker1.bindPopup("").openPopup()
        //marker1.bindPopup("")
        marker02.bindPopup("<b>Kudlovská klubovna</b><br>zde se můžeme teoreticky scházet")
            //circle.bindPopup("Hey");
            //polygon.bindPopup("hello");

            //polygon.bindPopup("hello");
    </script>
</body>
</html>
</html>
